*{
    font-family: "仿宋_GB2312 FangSong_GB2312";
}
.fakeimg {
    height: 200px;
}
.jumbotron{
    background-color: #bcbcbc;
}
.container {
    width: 97%;
}
.main{
    width: 100%;
    margin: auto;
}