*{
    font-family: "仿宋_GB2312 FangSong_GB2312";
}
.fakeimg {
    height: 200px;
}
.jumbotron{
    background-color: #bcbcbc;
}
.container {
    width: 97%;
}
.font0 {
    width: 200px;
    text-align: left;
    font-size: 20px;
}
.font1 {
    width: 200px;
    font-size: 30px;
}
.margin{
    margin: 5px 150px 5px;
    margin-right: auto;
}
.main{
    width: 75%;
    margin: auto;
}
.nickname-input{
    width: 60%;
}
.data-info{
    margin-top: 50px;
}
.img-info{
    margin-top: 25px;
    margin-bottom: 50px;
}
.data-info-result{
    word-break: break-all;
    display: block;
}
.blockcontent{
    height: 20%;
}
td{
    padding: 10px;
}
.bPlace{
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    outline: none;
}
a:focus{
    outline: none;
    outline-offset: 0;
}